`BYWEEKNO` used with `FREQ=MONTHLY` is invalid

As of Section 3.3.10 of RFC 5545 The `BYWEEKNO` rule part (which specifies ordinals for weeks of the year) MUST NOT be used when the frequency is anything other than `YEARLY`.

```ics
DTSTART:20260101T090000Z
RRULE:FREQ=MONTHLY;BYWEEKNO=15;UNTIL=20261231T090000Z
```

This returns `09 Apr 2026  11:00:00` instead of undefined. Is this on purpose?

Also
```ics
DTSTART:20260101T090000Z
RRULE:FREQ=MONTHLY;BYSETPOS=1
```
This returns the first day of each month, while this is also undefined:
The `BYSETPOS` rule part (which specifies the nth occurrence within a set) MUST only be used in conjunction with another `BY`xxx rule part.
